@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

h2{
    color:violet;
}
h7{
    color:greenyellow;
    font-size:23px;
}
h8{
    color:deepskyblue;
    font-size:23px;
}
subtitle{
    font-size:20px;
}
summary{
    font-size:30px;
}

pre{
    width: 1400px;
    height: 100px;
    font-size:20px;
    font-family: 'Stylish', sans-serif;
}
.pre1{
    width: 1400px;
    height: 100px;
    font-size:24px;
    font-family: 'Stylish', sans-serif;
}
.imgdiv{
    background-color: white;
    border: 0;
    height: 300px;
}

.mydiv1-1{
    border: 1px solid black;
    width: 1480px;
    min-height: 600px;
    margin: 10px;
    background: rgb(94, 10, 150);
    color: rgb(234, 219, 18);
}
.mydiv1-2{
    border:1px solid black;
    width: 1480px;
    height: 180px;
    margin: 10px;
    background-color: rgb(210, 22, 231);
    color:lightgreen;
}
.mydiv2{
    border: 1px solid black;
    width: 1480px;
    height: 400px;
    margin: 10px;
    background: darkblue;
    color: wheat;
}
.mydiv3{
    border: 1px solid black;
    width: 1480px;
    height: 400px;
    margin: 10px;
    background: aquamarine;
    color: blueviolet;
}

details { margin:5px 0 5px; }
details > summary { background:#444; color:#fff; padding:10px; outline:0; border-radius:5px; cursor:pointer; transition:background 0.5s; text-align:left; box-shadow: 1px 1px 2px gray;}
details > summary::-webkit-details-marker { background:#444; color:#fff; background-size:contain; transform:rotate3d(0, 0, 1, 90deg); transition:transform 0.25s;}
details[open] > summary::-webkit-details-marker { transform:rotate3d(0, 0, 1, 180deg);}
details[open] > summary { background:#444;}
details[open] > summary ~ * { animation:reveal 0.5s;}
.tpt {
    background:#444; color:#fff; margin:5px 0 10px; padding:5px 10px; line-height:25px; border-radius:5px; box-shadow: 1px 1px 2px gray;
    text-align:center;
}

@keyframes reveal {
    from { opacity:0; transform:translate3d(0, -30px, 0); }
    to { opacity:1; transform:translate3d(0, 0, 0); }
}